/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Customize the Container */
.container {
    /* temp property */
    /* background-color: lightgray; */
    
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

.header, .main, .footer {
    padding: 20px;
}