/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Customize the Container */
.container {
    /* temp property */
    /* background-color: lightgray; */
    
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

/* Common padding to the main sections of the page */
.header, .main, .footer {
    padding: 20px;
}

/* Styling the header */
.header {
    background-color: #2c3f50;
    width: 100%;

    display: flex;
    flex-basis: 5%;
    justify-content: space-between;
}

.header .brand {
    color: white;
    font-size: 20px;
    font-weight: bolder;
}

.header .navbar {
    display: flex;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}

/* Modify link when hovered over */
.navbar a:hover {
    color: rgb(40, 106, 228);
}

/* Style footer section */
.footer {
    background-color: #2c3f50;
    flex-basis: 7%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Change color of footer elements */
.footer div {
    color: white;
    font-size: 12px;
}

/* Style main section */
.main {
    flex: 1;
    display: flex;
    gap: 50px;
}

/* Style section */
.section {
    flex: 2;
    padding: 20px 0 20px 20px;
}

.sidebar {
    flex: 1;
}

/* Style the article card */
.article {
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 25px;
}

.article h2 {
    margin-bottom: 10px;
    font-weight: bolder;
}

.article p {
    margin-bottom: 10px;
}

.article .image {
    margin-bottom: 10px;
}